# --- FRONTEND (React / Vite / Node) ---
node_modules/
dist/
dist-ssr/
*.local
.vscode/
.eslintcache
.stylelintcache

# Logs do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- BACKEND (Python / FastAPI / Pandas) ---
# Ambientes Virtuais (Venv)
venv/
.venv/
env/
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / Cache de execução do Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Banco de Dados Local (Se usar SQLite para testes rápidos)
*.sqlite3
*.db

# --- SEGURANÇA E CONFIGURAÇÃO (Ambos) ---
# Arquivos de variáveis de ambiente (NUNCA envie para o git!)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db